body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c3e50;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    color: #1abc9c;
    margin-bottom: 40px;
}

.dice-container {
    margin: 20px auto;
}

.dice {
    width: 150px;
    height: 150px;
    transition: transform 0.5s ease;
    user-select: none;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a085;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.betting-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #34495e;
    padding: 20px 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

.balance {
    font-size: 20px;
    margin-bottom: 15px;
}

.bet-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bet-form label {
    font-size: 18px;
    color: #ecf0f1;
}

.bet-form input,
.bet-form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.bet-form input {
    width: 100px;
    text-align: center;
}

.bet-form select {
    width: 150px;
}

#winMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    font-weight: bold;
    z-index: 1000;
}

.hidden {
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
.big {
    font-size: 37px;
}
.small {
    font-size: 10px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}
.modal-content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 400px;
    background-color: rgb(36, 39, 41);
    font-size: 24px;
    font-weight: bold;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}