body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 39, 41);
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding: 20px;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.dice-result-area {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.dice-roll {
    position: absolute;
    top: 0px;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    transition: left 0.5s ease;
}

.slider-container {
    position: relative;
    width: 90%;
    margin-top: 40px;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 20px;
    z-index: 2;
}

.slider-track {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    z-index: 1;
}

.win-area {
    height: 8px;
    background: linear-gradient(to right, green 50%, red 50%);
}

.bet-section {
    color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.bet-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bet-info p {
    margin: 0;
    font-size: 1.2em;
}

.payout-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payout-info p {
    margin: 0;
    font-size: 1.2em;
}

input[type="number"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #45a049;
}

.last-rolls {
    margin-top: 20px;
}

.last-rolls ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.last-rolls li {
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.last-rolls li.win {
    background-color: green;
    color: white;
}

.last-rolls li.loss {
    background-color: red;
    color: white;
}

.last-result {
    margin-top: 20px;
    font-size: 1.2em;
}
#backToMenu {
    width: 200px;
}
a {
    text-decoration: none;
    color: white;
}
.big {
    font-size: 37px;
}
.small {
    font-size: 10px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}
.modal-content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 400px;
    background-color: rgb(36, 39, 41);
    font-size: 24px;
    font-weight: bold;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}